[submodule "sous-moduleA"]
	path = sous-moduleA
	url = https://github.com/elatarik/Module1.git
[submodule "sous-moduleB"]
	path = sous-moduleB
	url = https://github.com/elatarik/Module1.git
[submodule "sous-moduleC"]
	path = sous-moduleC
	url = https://github.com/elatarik/Module1.git
